@media screen and (max-width:768px){
    .menu-desktop{
        display: none;
    }
    .icon{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    .container{
        flex-direction: column-reverse;
    }
    .apresentacao{
        width: 400px;
    }
    .apresentacao p{
        display: none;
    }
    .apresentacao h1{
        display: none;
    }
    .apresentacao h5{
        color: rgb(221, 115, 186);
        font-size: 20px;
        
    }
    .img-rosi{
        width: 100%;
    }
   
}