@media screen and (max-width:768px){
    .menu-desktop{
        display: none;
    }
    .icon{
        display: block;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    .container{
        padding-bottom:50px;
        flex-direction: column-reverse;
    }
    .paraBaixo{
        display: flex;
    }
    .apresentacao p{
        display: none;
    }
    .apresentacao h1{
        display: none;
    }
    .apresentacao h5{
        color: rgb(221, 115, 186);
        font-size: 20px;
        
    }
    .img-rosi{
        width: 100%;
    }


    .projetos{
        /*border: 2px solid black;*/
        padding: 15px;
        align-items: center;
        justify-content: center;
        background-color: #f78fb3;
        flex-wrap:wrap;
        
    }
    
}