*{
    padding:0px;
    margin: 0px;
}


header{
    padding: 30px;
    background-color: rgb(247, 169, 208);
    
}
.topo{
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
nav a{
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    
}
nav a:hover{
    background-color:white;
    transition: 0.5s;
    color: blueviolet;
    border-radius: 15px;
    
}

.icon{
    background-color: #c99fb3;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
}
.barra{
    background-color:white;
    width: 40px;
    height: 2px;
    margin: 2px;
    padding: 1px;
}


.paraBaixo{
    background-color: rgb(182, 180, 180);
    display: none;
    padding: 20px;
    width: 100%;
}


.paraBaixo a{
    display: flex;
    flex-direction: column;
    width: 80px;
  
}



/*conteudo*/
.container{
   display: flex;
   align-items: center;
   padding-top:50px ;
   justify-content:center;
   /*flex-direction: column;*/
   

}
.apresentacao{
    
    width: 800px;
    text-align: center;
}
h1{
    color: rgb(221, 115, 186);
}
div .apresentacao p{
    color:  rgb(221, 115, 186);
}

.foto-principal{
    display: flex;
    justify-content: center;
    width: 50%;
   

}
.img-rosi{
    padding-bottom: 10px ;
    border-radius:50%;
    width: 45%;
}

.projetos{
    /*border: 2px solid black;*/
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f78fb3;
}
.caixa{
   /* border: 2px solid black;*/
   
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.caixa-imagem{
   
    height: auto;
    width: 250px;
    margin-bottom: 25px;

}
.icone_projeto{
    border-radius: 10px;
    height: auto;
    width: 100%;
}
.caixa-texto{

}


footer{
    background-color:#485460;
    padding: 20px;
    text-align: center;
    height: 133px;
    display: flex;
    justify-content: center;
}
.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.sociais{
  
    padding: 30px;
    
}
.sociais_imagem{
   
    width: 40px;
}


.sociais:hover{
    background-color: white;
    transition: 0.5s;
    border-radius: 50px;
}

.final{
   
    background-color: #1e272e;
    text-align: center;
    color: white;
}


/*pagina sobre mim */

.sobre-mim{
    text-align: center;
    background-color:white;
  
    margin: 0px 60px 403px 60px;
    
    
    
}
.eu{
    width: 25%;
    float: left;
    border-radius: 20px;
    padding-top:10px ;
}
.historia{
    text-align: center;
}

