*{
    padding:0px;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:ital,wght@0,500;0,600;0,700;0,900;1,400&display=swap');

header{

    background-color: rgb(247, 169, 208);
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
.menu-desktop{
    text-align: center;
    
}
.topo{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}
nav a{
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    margin: 0px 0px 0px 5px;
    
}
nav a:hover{
    transition: 0.5s;
    color: blueviolet;
    border-radius: 15px;
    
}

.icon{
    background-color:rgb(247, 169, 208);
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
}
.barra{
    background-color:white;
    border-radius: 2px;
    width: 50px;
    height: 9px;
    margin: 2px;
}


.paraBaixo{
    background-color: rgb(247, 169, 208);
    display: none;
    padding: 20px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.paraBaixo a{
    display: flex;
    flex-direction: column;
    width: 80px;
  
}



/*conteudo*/
.container{
   display: flex;
   align-items: center;
   padding-top:50px ;
   justify-content:center;
   /*flex-direction: column;*/
   

}
.apresentacao{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 800px;
    text-align: center;
}
.apresentacao p{
    font-size: 25px;
    color:  rgb(221, 115, 186);
}
h1{
    color: rgb(221, 115, 186);
    font-size: 40px;
}
.apresentacao h5{
    font-size: 15px;
}


.foto-principal{
    display: flex;
    justify-content: center;
    width: 50%;
   

}
.img-rosi{
    padding-bottom: 10px ;
    border-radius:50%;
    width: 45%;
}

.projetos{
    /*border: 2px solid black;*/
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f78fb3;
    flex-wrap:wrap;
    
}
.caixa{
   /* border: 2px solid black;*/
   
    height: auto;
    width: 250px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding: 10px;
   
}
.caixa-imagem{
    
    height: auto;
    width: 250px;
    margin-bottom: 25px;

}
.icone_projeto{
    border-radius: 10px;
    height: auto;
    width: 100%;
}
/*.caixa-texto{

}*/


footer{
    background-color:#485460;
    padding: 20px;
    text-align: center;
    height: 133px;
    display: flex;
    justify-content: center;
}
.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.sociais{
  
    padding: 30px;
    
}
.sociais_imagem{
    
    width: 40px;
}


.sociais_imagem:hover{
    background-color: #f78fb3;
    transition: 0.5s;
    border-radius: 20px;
    
}

.final{
   
    background-color: #1e272e;
    text-align: center;
    color: white;
}


/*pagina sobre mim */

.sobre-mim{
    text-align: center;
    background-color:white;
  
    margin: 0px 60px 403px 60px;
    
    
    
}
.eu{
    width: 25%;
    float: left;
    border-radius: 20px;
    padding-top:10px ;
}
.historia{
    text-align: center;
}

